:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
  --SoftBlue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --main_BG: hsl(217, 54%, 11%);
  --card_BG: hsl(216, 50%, 16%);
  --blue_line: hsl(215, 32%, 27%);
}

body,
p,
h1,
figure,
section {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--main_BG);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: 0.94rem;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card_BG);
  color: var(--Black);
  min-width: 22rem;
  border-radius: 1rem;
  padding: 1.5rem 1rem 2.75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.main-photo-container {
  text-align: center;
  position: relative;
  cursor: pointer;
}

 
.hovered_state {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left:0;
  bottom: 0;
  background-color: var(--Cyan);
  opacity: 0.6;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.main-photo {
  background: url('./images/image-equilibrium.jpg');
  width: 304px;
  height: 304px;
  background-size: contain;
}

.main-code {
  border-radius: 0.5rem;
  width: 100%;
}

.main-content {
  margin: 1.5rem;
  max-width: 305px;
}

.note-text {
  font-size: 1.125rem;
  font-weight: normal;
  color: var(--SoftBlue);
  margin-bottom: 1.5rem;
}

.default-text {
  color: var(--White);
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.days-section {
  display: flex;
  justify-content: space-between;
  color: var(--White);
  align-items: center;
}

.ethereum-text {
  color: var(--Cyan);
}

.days-text {
  color: var(--SoftBlue);
}

.text-with-icon {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.25rem;
}

.avatar-container {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-top: 1.5rem;
}

.avatar-img {
  margin-inline-end: 0.5rem;
  width: 2.25rem;
  height: 2.25rem;
  border: 1px solid var(--SoftBlue);
  border-radius: 50%;
}
.avatar-name {
  font-weight: bold;
  color: var(--White);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--SoftBlue);
  margin-top: 1.5rem;
}

.creation-tag {
  color: var(--SoftBlue);
  margin-right: .25rem;
}

.creation-tag:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.default-text:hover {
  color: var(--Cyan);
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  #container {
    width: 70%;
    min-width: initial;
    margin: 0 1rem;
  }
  .main-code {
    width: 90%;
  }
  
  .main-photo {
    width: 210px;
    height: 210px;
  }
}